/**body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
**/

*{
	margin: 0;
	padding: 0;
}  
body{	
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

nav{
	background: #ababeb;	
	font-size: 25px;
	font-weight: 2em;
	color: #fff;
	padding: 15px 10px 15px 50px ;
}


.weath-disp{	
	width: 50%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.weath-disp-list li{	
	font-family: sans-serif;
	display: inline-block;
	cursor: pointer;	
	text-align: center;
}


/********weather-item overlay*********/
.weather-item{
	opacity: 1;
	height: auto;
	position: relative;
	padding: 15px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.text-cont{
	transition:  .5s ease;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}
.text{
	background: #666666;
	font-size: 14.5px;
	color: #fff;
	padding: 38px 43px;
}
.weather-item:hover{
	padding: 16px;
	opacity: .9;
	box-shadow: 0px 5px 12px 0px #f2f2f2 ;
}
.weather-item:hover .text-cont{
	opacity: .7;
} 
.day{
	font-family: "arial";
	font-size: 16px;
	color: #cbcbcb;
	text-transform: capitalize;
}
.temp-max{
	font-size: 14.5px;
	color: #ababab;	
	font-weight: bold;
}
.temp-min{	
	margin-left: 4px;
	font-size: 14.5px;
	color: #cbcbcb;
}

